<!DOCTYPE html>
<html>
    <head>
      <title>Matcha</title>
      <meta charset="UTF-8">
      <link rel="icon" href="/logo_ico.ico" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
<div class="header">
    <div class="header_logo">
        <img src="/assets/utils/logo2.png" alt="logo">
    </div>
</div>
<div class="container row mx-auto d-flex align-items-center flex-column my-4 main-content-home">
    <div class="d-flex flex-column align-items-center col-10 col-lg-7 my-4">
        <img class="img-fluid my-4 img_error" src="/assets/utils/404.png" alt="404">
        <img class="img-fluid" src="/assets/utils/sorry.gif" alt="sorry">
    </div>
    <div class="text-center col-10 col-lg-7 my-4">
        <h3>It seems that you are lost. <a href="/"><u>Click here</u></a> to get back to the homepage.</h3>
    </div>
</div>
<%- include('offline_footer'); %>