<div class="head-menu-content">
    <div class="menu_arrows d-flex flex-column navbar-select-head" onclick="sidemenu(this)">
        <img src="/assets/utils/cupid_arrow_white.svg" class="arrow1" alt="arrow menu">
        <img src="/assets/utils/cupid_arrow_white.svg" class="arrow2" alt="arrow menu">
        <img src="/assets/utils/cupid_arrow_white.svg" class="arrow3" alt="arrow menu">
    </div>
    <div class="row navbar-head navbar-selection justify-content-center rounded shadow pt-2" id="navbar-hide">
        <div class="col-md-12 d-flex flex-column rounded text-center">
            <a href="/" class="navbar-btn navbar-highlight py-2 border-bottom">Suggestions</a>
            <a href="/search" class="navbar-btn navbar-highlight py-2 border-bottom">Search</a>
            <a href="/matchs" class="navbar-btn navbar-highlight py-2 border-bottom">Matchs</a>
            <a href="/settings" class="navbar-btn navbar-highlight py-2 border-bottom">Profile</a>
            <a href="/logout" class="btn btn-link navbar-btn navbar-disconnect px-0 py-2 text-danger">Logout</a>
        </div>
    </div>
</div>