<!DOCTYPE html>
<html>
    <head>
      <title>Matcha</title>
      <meta charset="UTF-8">
      <link rel="icon" href="/logo_ico.ico" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/main.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
<div class="header">
    <div class="header_logo">
        <img src="/assets/utils/logo2.png" alt="logo">
    </div>
</div>
<div class="container row mx-auto d-flex justify-content-center align-items-center flex-column my-4">
    <div>
      <p>Please log in to access to the site and use the services.</p>
    </div>
    <div>
        <a href="/login" class="btn rounded btn-matcha">Log in</a>
        <a href="/register" class="btn rounded btn-matcha">Register</a>
    </div>
</div>
<%- include('offline_footer'); %>